<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210512071095-5m10esruhcc5mk6cb9ei5a2mn0pelsf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210512071095-5m10esruhcc5mk6cb9ei5a2mn0pelsf7</string>
	<key>API_KEY</key>
	<string>AIzaSyA9aGDd_v51MnqQPjx3InrvWXsDbA1wQGs</string>
	<key>GCM_SENDER_ID</key>
	<string>210512071095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>endustry-5f032</string>
	<key>STORAGE_BUCKET</key>
	<string>endustry-5f032.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210512071095:ios:d7c4db96a156f704ea8032</string>
	<key>DATABASE_URL</key>
	<string>https://endustry-5f032.firebaseio.com</string>
</dict>
</plist>